name: Test
on:
  pull_request:
  push: 
    branches:
    - master

jobs:
  test:
    name: Verify build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build docker images
      run: docker compose build --pull

    - name: Verify ruby version
      run:
        docker compose run --rm version ruby -v | grep -E '^ruby 3\.4\.[0-9]+\b'
